@model SuperHeroReviews.Models.HeroModel
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Heroes</title>
</head>
<body>
    <h1>Hero Details</h1>
    <p>Title: <span>@Model.Name</span></p>
    <img src="@Model.Image" />

    <p>Universe: <span>@Model.Universe.Universe</span></p>
    

    <p>Description: <span>@Model.Content</span></p>

    @foreach (var review in Model.Reviews)
    {
        <p>Review: <span> @review.Review</span></p>
        <hr />
    }
    <hr />
    <a href="/Hero/HeroIndex">Return to Hero List</a>

</body>
</html>
