@model SuperHeroReviews.Models.HeroModel
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Details.css" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
    <title>Heroes</title>
</head>
<body>
    <h1>Hero Details</h1>
    <div id="detail">
        <article>
            <img src="@Model.Image" />
        </article>
        <article>
            <p>Title: <span>@Model.Name</span></p>
            <p>Universe: <span>@Model.Universe.Universe</span></p>
            <p>Description: <span>@Model.Content</span></p>
            <section id="Forms">
                <form action="/Hero/Edit/@Model.ID" method="get">
                    <input type="submit" value="Edit Hero" />
                </form>
            </section>
        </article>
    </div>
    <h2>Reviews</h2>
    @foreach (var review in Model.Reviews)
    {
        <div>
            Review: <span> @review.Content</span>
            <div>
                <section id="Forms">
                    <form action="/Review/Delete/@review.ID" method="get">
                        <input type="submit" value="Delete Review" />
                    </form>
                </section>
            </div>
            <div>
                <section id="Forms">
                    <form action="/Review/Edit/@review.ID" method="get">
                        <input type="submit" value="Edit Review" />
                    </form>
                </section><br />
            </div>
        </div>
    }
    <br />
    <div>
        <section id="Forms">
            <form action="/Review/CreateByHeroID/@Model.ID" method="get">
                <input type="submit" value="Add Review" /><br>
            </form>
        </section>
    </div>
    <br />
    <div>
        <section id="Forms">
            <form action="/Hero/HeroIndex" method="get">
                <input type="submit" value="Return To Hero List" /><br>
            </form>
        </section>
    </div>
    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Home/About">About</a>
        <a href="/Hero/HeroIndex">All Heroes</a>
    </nav>
</body>
</html>
