@model SuperHeroReviews.Models.HeroModel
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Details.css" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
    <title>Heroes</title>
</head>
<body>
    <div id="detail">
        <article>
            <img src="@Model.Image" />
        </article>
        <article>
            <h1>Hero Details</h1>
            <p>Title: <span>@Model.Name</span></p>
            <p>Universe: <span>@Model.Universe</span></p>
            <p>Description: <span>@Model.Content</span></p>
            <p>Review: <span>@Model.Review</span></p>
            <hr />
        </article>
    </div>
    <a href="/Hero/HeroIndex">Return to Hero List</a>

    <nav>
        <a href="/Home/MCU">MCU</a>
        <a href="DCU.cshtml">DCU</a>
        <a href="about.cshtml">About</a>
        <a href="index.cshtml">Home</a>
        <a href="/Hero/HeroIndex">All Heroes</a>
    </nav>
</body>
</html>
