@model SuperHeroReviews.Models.HeroModel
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Details.css" />
    <link rel="stylesheet" href="~/css/NavBar.css" />
    <title>Heroes</title>
</head>
<body>
    <h1>Hero Details</h1>
    <div id="detail">
        <article>
            <img src="@Model.Image" />
        </article>
        <article>
            <p>Title: <span>@Model.Name</span></p>
            <p>Universe: <span>@Model.Universe.Universe</span></p>
            <p>Description: <span>@Model.Content</span></p>
        </article>
    </div>
    <h2>Reviews</h2>
    @foreach (var review in Model.Reviews)
    {
        <p>Review: <span> @review.Content</span><a href="/Review/Delete/@review.ID">Delete Review</a>
        <a href="/Review/Edit/@review.ID">Edit Review</a></p>
        <hr />
    }
    <a href="/Hero/HeroIndex">Return to Hero List</a>
    <div>
        <section id="Forms">
            <form action="/Review/CreateByHeroID/@Model.ID" method="get">
                <input type="submit" value="Add Review" /><br>
            </form>
        </section>
    </div>
    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Home/About">About</a>
        <a href="/Home/MCU">MCU</a>
        <a href="/Home/DCU">DCU</a>
        <a href="/Hero/HeroIndex">All Heroes</a>
    </nav>
</body>
</html>
